<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signin_signup.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>TrendTrove</title>
</head>

<body>
    <nav>
        <div>
            
            </span>
        </div>
    </nav>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2 style="color: red;">Sign-In Page<span></span></h2>
            <a id="close" id="" href="#">&times;</a>
            <div class="content" id="popAlert">
            </div>
        </div>
    </div>
    <main>
        <div id="main1">
            <div id="container">
                <div id="upper">
                    <h2> Sign-In Page <span>.</span></h2>
                    <br>
                    <p>Welcome back to our website, where we provide you with the latest trends and insights for content creation! Our <a href=""
                            style="text-decoration:none; color:rgb(255, 0, 119);;"> website </a>is where you can access your account and continue to enjoy all the amazing resources we offer.</p>
                </div>



                <div class="carousel" data-flickity='{"wrapAround":true, "autoPlay": true }'>

                    <div class="carousel-cell">
                        <img src="Youtube.png" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="Spotify.png" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="Twitter.png" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="Insta.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="main2">
            <form id="form" action="/login" class="login" method="POST">
                <div>
                    <div>
                        <label for="">Email Address <span>*</span></label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="">Password: <span>*</span></label>
                        <input type="password" id="verifyPassword" name="password" required`>
                    </div>
                    <div class="info" id="btn-p">
                        <button id="submit">Submit</button>
                    </div>
                    <div class="register">
                        <p>Don't have a account? </p>
                        <a href="/register">Register</a>
                    </div>
                   
                </div>
            </form>
        </div>
    </main>
</body>

</html>
<script src="getADemo.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>