<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signin_signup.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>Get A Demo</title>
</head>

<body>
    <nav>
        <div>
            <span id="logo"><img src="https://q9k6x7m8.stackpathcdn.com/assets/reimagine2/devpost-logo-646bdf6ac6663230947a952f8d354cad.svg"
                    alt="">
            </span>
        </div>
    </nav>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2 style="color: red;"> Sign-Up Page<span></span></h2>
            <a id="close" id="" href="#">&times;</a>
            <div class="content" id="popAlert">
            </div>
        </div>
    </div>
    <main>
        <div id="main1">
            <div id="container">
                <div id="upper">
                    <h2> Sign-Up Page <span>.</span></h2>
                    <br>
                    <p>Whether you're a blogger, social media influencer, or business owner looking to up your content game, our<a href=""
                            style="text-decoration:none; color:rgb(255, 0, 119);;"> website </a> has everything you need to succeed. So don't wait any longer, sign up today and join our community of content creators!</p>
                </div>



                <div class="carousel" data-flickity='{"wrapAround":true, "autoPlay": true }'>

                    <div class="carousel-cell">
                        <img src="Youtube.png" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="Spotify.png" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="Twitter.png" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="Insta.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="main2">
            <form id="form">
                <div>
                    <div>
                        <label for="">Name: <span>*</span></label>
                        <input value="" type="text" id="firstName">
                    </div>
                    <div>
                        <label for="">Email Address <span>*</span></label>
                        <input type="email" id="email">
                    </div>
                    <div>
                        <label for="">Phone Number: <span>*</span></label>
                        <input type="number" id="phoneNumber">
                    </div>
                    <div>
                        <label for="">Set Password: <span>*</span></label>
                        <input type="password" id="setPassword">
                    </div>
                    <div class="info" id="btn-p">
                        <button id="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
<script src="getADemo.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>